<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinanceTrackerDB" connectionString="Server=localhost;Database=FinanceTrackerDB;Trusted_Connection=true;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>